.cardsContainer{
    padding:20px 0px;
    background-color: rgb(32, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

@media (min-width:600px){
    .totalContainer,
    .activeContainer,
    .recoveredContainer,
    .deathContainer{
        padding:20px;
        margin:0;
        width: 100%;
    }
    .cardsContainer{
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
}
@media (min-width:1200px){
    .cardsContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}