*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Encode Sans', sans-serif;
}
.loading{
  font-size:2rem;
  background-color: black;
  color:white;
  min-width:100vw;
  min-height:100vh;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}
.appContainer{
  background-color: rgb(32, 30, 30);
}